<h1 class='pagetitle'>新規投稿</h1>
<div class="row justify-content-center container">
  <%= form_for @book do |f| %>
    <div class="form-group">
      <div class="col-xs-2">
        <% f.label :title, "書名", class: "control-label" %>
      </div>
      <div class="col-xs-10">
        <%= f.text_field :title %> 
      </div>
    </div>

    <div class="form-group">
      <div class="col-xs-2">
        <% f.label :category, "言語", class: "control-label" %>
      </div>
      <div class="col-xs-10">
        <%= f.select :category, ["----", "HTML", "CSS", "jQuery", "PHP", "javascript"], {}, class: "form-control" %> 
      </div>
    </div>

    <div class="form-group">
      <div class="col-xs-2">
        <% f.label :img, "表紙イメージ", class: "control-label" %>
      </div>
      <div class="col-xs-10">
        <%= f.file_field :img, id: :book_img %>
      </div>
    </div>
    <%= f.submit "本を登録", class: "btn btn-primary" %>
  <% end %>
</div>
